---
import Layout from "../layouts/Layout.astro";
import Hr from "../components/Hr.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Works from "../components/Works.astro";
import Posts from "../components/Posts.astro";
import Skills from "../components/Skills.astro";
---

<Layout>
  <!-- <Header /> -->
  <main id="main-content">
    <Hero />
    <Hr />
    <Skills />
    <Hr />
    <Works />
    <Hr />
    <Posts />
  </main>
  <Footer />
</Layout>
